.about {
  height: 100vh;
  width: 100vw;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 0 20vw;
  font-weight: 600;

  p {
    margin-bottom: 25px;
  }
}

@media only screen and (max-device-width: 768px) {
  .about {
    padding-top: 80px;
    margin-top: 80px;
    display: block;
    height: auto;
    font-size: 1rem;

    p {
      margin-bottom: 0px;
      padding-bottom: 20px;
    }
  }
}
