.kapcsolat {
  width: 100vw;
  height: 100vh;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: 0 20vw;

  #iframe {
    width: 50vw;
    height: 60vh;
    margin-right: 3rem;
  }

  .media {
    height: 3.6rem;
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    img {
      margin-right: 1rem;
      width: 3.35rem;
      height: 3.2rem;
      margin-top: 8px;
    }

    #email {
      margin-right: 0;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .kapcsolat {
    flex-direction: column;
    padding-top: 20vh;

    #iframe {
      width: 80vw;
      margin-right: 0;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }
}