.szechenyi {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    background-color: #ececec;
    font-size: 0.75rem;
    padding: 70px 20vw 50px 20vw;
    font-weight: 600;
  
    p {
      margin-bottom: 25px;
    }

    li {
        margin-left: 65px;
    }
  }
  
  @media only screen and (max-device-width: 768px) {
    .szechenyi {
        display: none;
    }
  }
  